<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Test Project</title>
</head>
<body>
{% block auth %}
    {% if not user.is_authenticated %}
        <a href="{% url django.contrib.auth.views.login %}">login</a>
    {% else %}
        <a href="{% url profile_update %}">change profile</a>
        <a href="{% url django.contrib.auth.views.logout %}">logout</a>
    {% endif %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>